.cover__link {
    max-width: 100%;
  min-height: 740px;
    background-origin: content-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--text);
    
    align-items: center;

  position: relative;

     background-image: url(../../../images/cover-trains.jpg);
     background-size: cover;
      background-repeat: no-repeat;
  z-index: 1;
}

.cover__link::after {
  content: "";
  position: absolute;
  background-color: var(--hover);
  opacity: 0.3;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
}

.cover__link:hover::after {
  opacity: 0.8;
}