.photo-grid {
    list-style-type: none;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding-inline-start: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 16px;
    padding: 0 min(48px, calc((100% - 984px) / 2)) 0 min(48px, calc((100% - 984px) / 2));
    background-color: var(--background);
}

@media screen and (max-width: 1024px) {
    .photo-grid {
        padding: 0px 48px 0 48px;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 14px;
    }
}

@media screen and (max-width: 984px) {
    .photo-grid {
        padding: 0px 24px 0 24px;
        grid-template-columns: 1fr 1fr;
        gap: 16px;
    }
}

@media screen and (max-width: 320px) {
    .photo-grid {
        padding: 0px 16px 0 16px;
        display: flex;
        flex-direction: column;
    }
}