.lead {
  min-height: 740px;
  padding: 0 148px 92px 148px;
  background-color: var(--background);
  color: inherit;
  font-family: inherit;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: center;
}

@media screen and (max-width: 1024px) {
  .lead {
    max-width: 928px;
    min-height: 962px;
    padding: 0 48px 92px 48px;
  }
}

@media screen and (max-width: 768px) {
  .lead {
    max-width: 768px;
    min-height: 862px;
    padding: 0 0 88px 0;
  }
}

@media screen and (max-width: 320px) {
  .lead {
    max-width: 320px;
    min-height: 406px;
    padding: 0 0 64px 0;
  }
}