.header {
  max-width: calc(1280px - 48px - 48px);
  background-color: var(--background);
  color: inherit;
  font-family: inherit;
  margin: 0 auto;
  position: relative;
  padding: 28px 48px 56px 48px;
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
}

@media screen and (max-width: 1024px) {
}

@media screen and (max-width: 768px) {
}

@media screen and (max-width: 320px) {
  .header {
    max-width: 288px;
    min-height: 42px;
  }
}