.intro__list-text {
    margin: 0px;
    padding: 0px;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 18px;
}

@media screen and (max-width: 1024px) {
}

@media screen and (max-width: 768px) {
}

@media screen and (max-width: 320px) {
}