.cover {
  min-height: 740px;
  padding: 0 48px 92px 48px;
  background-color: var(--background);
  color: inherit;
  font-family: inherit;
}

@media screen and (max-width: 1024px) {
  .cover {
    min-height: 640px;
    padding: 0 0 92px 0;
  }
}

@media screen and (max-width: 768px) {
  .cover {
    min-height: 480px;
    padding: 0 0 88px 0;
  }
}


@media screen and (max-width: 320px) {
  .cover {
    min-height: 200px;
    padding: 0 0 64px 0;
  }
}