.place {
    padding-bottom: 80px;
    background-color: var(--background);
    color: inherit;
    font-family: inherit;
    display: grid;
    grid-template-columns: minmax(min-content, 460px) minmax(min-content, 484px);
    gap: 48px 40px;
    grid-template-rows: minmax(min-content, 76px) minmax(460px, min-content);
    flex-direction: column;
    justify-content: left;
}

.place:last-of-type {
    padding-bottom: 0;
}

@media screen and (max-width: 1024px) {
    .place {
        grid-template-columns: minmax(min-content, 440px) minmax(min-content, 456px);
        grid-template-rows: minmax(min-content, 76px) minmax(340px, min-content);
        gap: 48px 32px;
    }
}

@media screen and (max-width: 768px) {
    .place {
        padding-bottom: 72px;
        grid-template-columns: minmax(min-content, 340px) minmax(min-content, 352px);
        grid-template-rows: minmax(min-content, 46px) minmax(340px, min-content);
        gap: 48px 28px;
    }
}

@media screen and (max-width: 615px) {
    .place {
        max-width: 100%;
        padding-bottom: 50px;
        display: inline-block;
    }
}