.intro__list-number {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
}

@media screen and (max-width: 1024px) {
}

@media screen and (max-width: 768px) {
}

@media screen and (max-width: 320px) {
}